.product {
    padding-top: 30px;
    padding-bottom: 30px;
}

.product h4 {
    font-family: "Roubik-medium";
}

.uniq-btn {
    color: #ffffff;
    box-shadow: none;
    font-family: "Roubik-medium";
    font-size: 12px;
    padding: 8px 20px;
    border-radius: 3px;
    text-transform: uppercase;
    background: #720655;
}

.uniq-btn:hover {
    color: #ffffff;
}

/* Product Show */

/* Image List */

.show_product .img-list ul li {
    list-style: none;
    display: inline-block;
    border: 1px solid #c2c1c1;
    margin: 2px;
    cursor: pointer;
}

.show_product .img-list ul li img {
    width: 90px;
    height: 90px;
}

/* End Image List */

/* Product Information */

.show_product h5 {
    font-size: 18px;
    line-height: 1.5rem;
    font-family: "Roubik-medium";
    margin-bottom: 20px;
}

.show_product .sku {
    font-size: 15px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-family: "Roubik-regular";
}

.show_product .brand {
    font-size: 15px;
    margin-bottom: 3px;
    text-transform: uppercase;
    font-family: "Roubik-regular";
}

.show_product .brand span {
    text-transform: capitalize;
    color: #720655;
}

.show_product .information {
    font-size: 15px;
    line-height: 30px;
    font-family: "Roubik-regular";
    position: relative;
}

.show_product .information a {
    color: #720655;
    font-size: 13px;
    text-decoration: none;
    font-family: "Roubik-regular";
    position: absolute;
    bottom: -40px;
    left: 110px;
    background: #dfdfdf;
    padding: 0px 20px;
    border-radius: 16px;
    transition: 0.3s;
}

.show_product .information a:hover {
    color: #ffffff;
    background: #720655;
}

/* End Product Information */

/* Product Avilable */

.show_product .color h5 {
    font-family: "Roubik-medium";
    border-bottom: 1px solid rgb(199, 198, 198);
}

.show_product .color .form-check-input {
    width: 20px;
    height: 20px;
}

.show_product .color .form-check-label {
    font-size: 14px;
    font-family: "Roubik-regular";
    text-transform: capitalize;
    margin-left: 10px;
}

.show_product .price h5 {
    font-family: "Roubik-medium";
}

.show_product .product_avilavle h4 {
    font-family: "Roubik-medium";
    color: #720655;
}

.show_product .product_avilavle .extra_methods .methods h5 {
    font-family: "Roubik-medium";
    border-bottom: 1px solid rgb(199, 198, 198);
}

.show_product .product_avilavle .extra_methods .methods small {
    font-family: "Roubik-regular";
}

.show_product .product_avilavle .btn {
    background: #e6e7e9;
    color: #720655;
    transition: 0.3s;
}

.show_product .product_avilavle .btn:hover {
    color: #fff;
    background: #720655;
}

.show_product .product_avilavle .form-control {
    border-left: 0;
    border-right: 0;
    border-top: 1px solid #e6e7e9;
    border-bottom: 1px solid #e6e7e9;
}

.show_product .product_avilavle .form-control:focus {
    border-top: 1px solid #e6e7e9;
    border-bottom: 1px solid #e6e7e9;
}

.show_product .product_avilavle
/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

.show_product .product_avilavle input[type=number] {
    -moz-appearance: textfield;
}

.show_product .product_avilavle .add-cart-btn {
    color: #fff;
    background: #720655;
    font-family: "Roubik-regular";
    text-transform: uppercase;
    font-size: 13px;
}

/* Client Revieww */

.client_review h6 {
    font-family: "Roubik-medium";
}

.client_review .reviews img {
    width: 80px;
    height: 80px;
}

.client_review .reviews .rating ul {
    margin: 0;
    padding: 0;
}

.client_review .reviews .rating ul li {
    list-style: none;
    float: left;
}

.client_review .reviews .rating ul li i {
    font-size: 12px;
}

.client_review .reviews p {
    font-family: "Roubik-regular";
    font-size: 13px;
}

.client_review .reviews .btn {
    color: #fff;
    background: #720655;
    font-family: "Roubik-regular";
    font-size: 13px;
    padding: 4px 30px;
    border-radius: 16px;
}

/* End Client Review */

.related_products h5 {
    font-family: "Roubik-medium";
}

@media(min-width: 992px) {
    .show_product {
        margin-top: 100px;
    }
}

@media(max-width: 576px) {
    .show_product .img-list ul li img {
        width: 70px;
        height: 70px;
    }
}