.product {
    padding-top: 30px;
    padding-bottom: 30px;
}

.product h4 {
    font-family: "Roubik-medium";
}

.uniq-btn {
    color: #ffffff;
    box-shadow: none;
    font-family: "Roubik-medium";
    font-size: 12px;
    padding: 8px 20px;
    border-radius: 3px;
    text-transform: uppercase;
    background: #720655;
}

.uniq-btn:hover {
    color: #ffffff;
}