.admin-master {
    font-family: "Roubik-regular";
}

.admin-master .btn-uniq {
    color: #fff;
    background: #720655;
    font-size: 14px;
    font-family: "Roubik-medium";
}

/* Top Bar */

.admin-master .top_bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 9;
}

.admin-master .top_bar .logo_img {
    height: 40px;
}

.admin-master .top_bar ul {
    margin-bottom: 0;
}

.admin-master .top_bar ul li {
    list-style: none;
    display: inline-block;
}

/* Notification  */

.admin-master .top_bar .notification_btn {
    position: relative;
}

.admin-master .top_bar .notification_count {
    position: absolute;
    top: 0px;
    left: 23px;
    color: brown;
    font-size: 13px;
    font-family: "Roubik-bold";
}

.admin-master .top_bar .notification_box {
    position: absolute;
    width: 250px;
    height: 280px;
    right: 50px;
    margin-top: 18px;
}

.admin-master .top_bar .notification_box .tri_angle {
    position: absolute;
    width: 18px;
    height: 18px;
    transform: rotate(45deg);
    top: -9px;
    right: 30px;
    z-index: 0;
    background: #720655;
}

.admin-master .top_bar .notification_box .titel_bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #720655;
}

.admin-master .top_bar .notification_box .titel_bar p {
    font-size: 13px;
    font-family: "Roubik-medium";
}

.admin-master .top_bar .notification_box .notification_body {
    height: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    overflow-y: scroll;
}

.admin-master .top_bar .notification_box .notification_body a {
    font-size: 13px;
    font-family: "Roubik-regular";
    padding: 4px 8px;
    display: block;
    color: #000;
    border-bottom: 1px solid #dfdfdf;
    text-decoration: none;
}

.admin-master .top_bar .notification_box .notification_footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    text-align: center;
}

.admin-master .top_bar .notification_box .notification_footer a {
    font-size: 13px;
    font-family: "Roubik-regular";
    display: block;
}

.admin-master .top_bar .notification_box .notification_body a:hover {
    background: #f1f1f1;
}

.admin-master .top_bar .notification_box .notification_body::-webkit-scrollbar {
    width: 5px;
}

/* Track */

.admin-master .top_bar .notification_box .notification_body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

.admin-master .top_bar .notification_box .notification_body::-webkit-scrollbar-thumb {
    background: rgb(180, 179, 179);
    border-radius: 6px;
}

/* Handle on hover */

.admin-master .top_bar .notification_box .notification_body::-webkit-scrollbar-thumb:hover {
    background: rgb(133, 131, 131);
}

/* End Notification */

/* User Profile Dropdown */

.admin-master .top_bar .user_section {
    position: relative;
}

.admin-master .top_bar .user_section .user_img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.admin-master .top_bar .user_section .profile_drop_box {
    position: absolute;
    right: 0;
    width: 130px;
    margin-top: 18px;
}

.admin-master .top_bar .user_section .profile_drop_box .btn {
    margin: 0;
    font-size: 13px;
    transition: 0.4s;
    font-family: "Roubik-regular";
}

.admin-master .top_bar .user_section .profile_drop_box .btn:hover {
    background: #f1f1f1;
}

/* End User Profile Dropdown */

/* Main Menu */

.admin-master .main_menu {
    overflow-x: hidden;
}

/* Side Bar */

.admin-master .side_bar {
    width: 250px;
    height: 100vh;
    padding-top: 80px;
    background: #fff;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    transition: 0.5s;
}

.admin-master .side_bar_hide {
    left: -100%;
}

.admin-master .side_bar a {
    font-size: 14px;
    display: block;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    text-transform: capitalize;
    font-family: "Roubik-regular";
    color: #868686;
    text-decoration: none;
    transition: 0.4s;
}

.admin-master .side_bar a:hover {
    color: #fff;
    background: #720655;
}

.admin-master .side_bar .btn {
    font-size: 14px;
    display: block;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    text-transform: capitalize;
    font-family: "Roubik-regular";
    color: #868686;
    text-decoration: none;
    transition: 0.4s;
}

.admin-master .side_bar .btn:hover {
    color: #fff;
    background: #720655;
}

.admin-master .side_bar .is-active {
    color: #fff;
    background: #720655;
}

/* Main Section */

.admin-master .main_section {
    padding-top: 85px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-left: 250px;
    transition: 0.5s;
}

.admin-master .side_main_section {
    margin-left: 0px;
}

/* Notification Box in media */

@media(min-width: 768px) {
    .admin-master .top_bar .notification_box .tri_angle {
        right: 27px;
    }
}

@media(min-width: 992px) {
    .admin-master .top_bar .notification_box .tri_angle {
        right: 35px;
    }
}