/* Product Index */

.product_index h5 {
    font-family: "Roubik-medium";
}

.product_index .table {
    font-family: "Roubik-regular";
}

.product_index thead {
    font-family: "Roubik-medium";
}

.product_index tbody {
    font-size: 14px;
}

.product_index img {
    height: 60px;
    width: 60px;
}

/* End Product Index */

/* Product Create */

.product_create .form-control {
    font-size: 14px;
    min-height: 45px;
}

.product_create .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.product_create .inputfile+label {
    display: inline-block;
}

.product_create .file-upload-btn label {
    padding-top: 9px;
}

.product_create .btn {
    height: 45px;
}

.product_create img {
    width: 150px;
    height: 100px;
    margin-right: 10px;
}

/* End Product Create */

/* Start Product Edit */

/* Start Product Show */

.product-show h5 {
    font-size: 16px;
    line-height: 1.5rem;
    font-family: "Roubik-medium";
}

.product-show .brands p {
    font-family: "Roubik-regular";
}

.product-show .brands ol li p {
    font-size: 14px;
    color: #720655;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.product-show .brands ul li {
    list-style: none;
}

.product-show .details p {
    font-size: 14px;
    line-height: 1.5rem;
    font-family: "Roubik-regular";
}

/* End Product Show */

/* .edit-product{

} */

/* End Product Edit */