/* Order Index */

.order_index .count_column .card {
    height: 100px;
}

.order_index .count_column .card h5 {
    font-family: "Roubik-medium";
}

.order_index .count_column .card h6 {
    font-family: "Roubik-regular";
}

.order_index .table thead {
    font-size: 14px;
    font-family: "Roubik-medium";
}

.order_index .table tbody {
    font-size: 13px;
    font-family: "Roubik-regular";
}

.order_index .order_type_button_column .btn {
    font-size: 13px;
}

.order_index .form-control {
    font-size: 13px;
    font-family: "Roubik-regular";
}

.order_index .is-active{
    color: #fff;
    background: #720655;
}

@media(max-width: 576px) {
    .order_index .count_column .card h5 {
        font-size: 15px;
    }
}

/* End Order Index */