@font-face {
  font-family: "Roubik-regular";
  src: url("./assets/fonts/Rubik/Rubik-Regular.ttf");
}

@font-face {
  font-family: "Roubik-light";
  src: url("./assets/fonts/Rubik/Rubik-Light.ttf");
}

@font-face {
  font-family: "Roubik-medium";
  src: url("./assets/fonts/Rubik/Rubik-Medium.ttf");
}

@font-face {
  font-family: "Roubik-bold";
  src: url("./assets/fonts/Rubik/Rubik-Bold.ttf");
}

.bg-uniq {
  background: #ffffff;
}

.uniq-shadow {
  box-shadow: 0px 2px 5px 0px rgba(59, 55, 55, 0.63);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(59, 55, 55, 0.63);
  -moz-box-shadow: 0px 2px 5px 0px rgba(59, 55, 55, 0.63);
}

@media (min-width: 992px) {
  .main-section {
    width: 100%;
    padding-left: 310px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.flex-column {
  -ms-flex-direction: column !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  flex-direction: column !important;
}