body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
  font-family: "Roubik-regular";
  src: url("./assets/fonts/Rubik/Rubik-Regular.ttf");
}

@font-face {
  font-family: "Roubik-light";
  src: url("./assets/fonts/Rubik/Rubik-Light.ttf");
}

@font-face {
  font-family: "Roubik-medium";
  src: url("./assets/fonts/Rubik/Rubik-Medium.ttf");
}

@font-face {
  font-family: "Roubik-bold";
  src: url("./assets/fonts/Rubik/Rubik-Bold.ttf");
}

.bg-uniq {
  background: #ffffff;
}

.uniq-shadow {
  box-shadow: 0px 2px 5px 0px rgba(59, 55, 55, 0.63);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(59, 55, 55, 0.63);
  -moz-box-shadow: 0px 2px 5px 0px rgba(59, 55, 55, 0.63);
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.flex-column {
  -ms-flex-direction: column !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  flex-direction: column !important;
}

@media (min-width: 992px) {
  .main-section {
    width: 100%;
    padding-left: 310px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

/* Product card */

.product-card {
  height: auto;
  border-radius: 0;
  display: inline-block;
  margin-bottom: -7px !important;
  padding: 0 !important;
  transition: 0.3s;
  overflow: hidden;
}

.product-card .card-body {
  overflow: hidden;
  padding: 0;
}

.product-card .card-body .img-box {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.product-card .card-body .img-box img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.product-card:hover img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.product-card .card-body .card-content {
  cursor: pointer;
  position: relative;
}

.product-card .card-body .card-content p {
  font-size: 14px;
  font-family: "Roubik-regular";
}

.product-card .card-body .card-content .name {
  transition: 0.3s;
}

.product-card .card-body .card-content .price {
  font-family: "Roubik-medium";
}

.product-card .card-body .card-content .btn {
  position: absolute;
  font-size: 12px;
  font-family: "Roubik-medium";
  color: #ffffff;
  background: #720655;
  top: 0;
  right: -100%;
  padding: 0px 10px;
  border-radius: 0;
  transition: 0.3s;
  text-transform: uppercase;
}

.product-card .card-body .img-box .product-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.product-btn {
  color: #ffffff;
  box-shadow: none;
  font-family: "Roubik-medium";
  font-size: 13px;
  padding: 6px 15px;
  border-radius: 3px;
  text-transform: uppercase;
  background: #720655;
  display: none;
}

.product-btn:hover {
  color: #ffffff;
}

.product-card:hover .product-overlay .product-btn {
  display: block;
}

.product-card .card-body .card-content:hover .name {
  color: #720655;
}

.product-card:hover .card-body .card-content .btn {
  right: 0;
}

@media (max-width: 450px) {
  .product-card {
    width: 50%;
  }
  .product-card .card-body .img-box {
    height: 180px;
  }
}

@media (min-width: 450px) {
  .product-card {
    width: 50%;
  }
  .product-card .card-body .img-box {
    height: 240px;
  }
}

@media (min-width: 768px) {
  .product-card {
    width: 33.33%;
  }
  .product-card .card-body .img-box {
    height: 250px;
  }
}

@media (min-width: 1280px) {
  .product-card {
    width: 25%;
  }
  .product-card .card-body .img-box {
    height: 250px;
  }
}

@media (min-width: 1480px) {
  .product-card {
    width: 16.66%;
  }
  .product-card .card-body .img-box {
    height: 260px;
  }
}