/* Banner Index */

.banner_index thead {
    font-size: 14px;
    font-family: "Roubik-medium";
}

.banner_index tbody {
    font-size: 13px;
}

.banner_index img {
    width: 140px;
}

.banner_create .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.banner_create .inputfile+label {
    display: inline-block;
}

/* Banner Create */

.banner_create img {
    max-height: 340px;
}